<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practicaley">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practicaley"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MenuRecibidor" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".AgregarTarea" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".RecibidorCodigo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".NuevoLoad" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MenuMontacarga" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".TareasMontacarga" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ReservaNewUbicacion" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ConfirmarUbicacion" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MontacargaSCodigo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".SurtirDom" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".RecibidorCPasillo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".LevantarArticulos" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".LevNuevoArticulo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ContarAR" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MenuAdmin" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ArticuloConsultado" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ConsultaACodigo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ConsultaPCodigo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PasilloConsulta" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Reporte" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".AgregarAR" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".AgregarCodigo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ControlCodigo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".EliminarCodigo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".EliminarER" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MenuControlI" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ModificarCodigo" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ModificarMR" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Compara_Rep" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PasilloLoad" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".PasilloArticulo" android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>