<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practicaley">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practicaley"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MenuRecibidor">

        </activity>
        <activity android:name=".AgregarTarea">

        </activity>
        <activity android:name=".RecibidorCodigo">

        </activity>
        <activity android:name=".NuevoLoad">

        </activity>
        <activity android:name=".MenuMontacarga">

        </activity>
        <activity android:name=".TareasMontacarga">

        </activity>
        <activity android:name=".ReservaNewUbicacion">

        </activity>
        <activity android:name=".ConfirmarUbicacion">

        </activity>
        <activity android:name=".MontacargaSCodigo">

        </activity>
        <activity android:name=".SurtirDom">

        </activity>
        <activity android:name=".RecibidorCPasillo">

        </activity>
        <activity android:name=".LevantarArticulos">

        </activity>
        <activity android:name=".LevNuevoArticulo">

        </activity>
        <activity android:name=".ContarAR">

        </activity>
        <activity android:name=".MenuAdmin">

        </activity>
        <activity android:name=".ArticuloConsultado">

        </activity>
        <activity android:name=".ConsultaACodigo">

        </activity>
        <activity android:name=".ConsultaPCodigo">

        </activity>
        <activity android:name=".PasilloConsulta">

        </activity>
        <activity android:name=".Reporte">

        </activity>
        <activity android:name=".AgregarAR">

        </activity>
        <activity android:name=".AgregarCodigo">

        </activity>
        <activity android:name=".ControlCodigo">

        </activity>
        <activity android:name=".EliminarCodigo">

        </activity>
        <activity android:name=".EliminarER">

        </activity>
        <activity android:name=".MenuControlI">

        </activity>
        <activity android:name=".ModificarCodigo">

        </activity>
        <activity android:name=".ModificarMR">

        </activity>

    </application>

</manifest>